{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  {% if next %}
    {% if user.is_authenticated %}
      <p class="text-center text-secondary mb-4">
        У вашего аккаунта нет доступа к этой странице.<br>
        Чтобы продолжить, войдите в систему с аккаунтом,
        у которого есть доступ.
      </p>
    {% else %}
      <p class="text-center text-secondary mb-4">
        Пожалуйста, войдите в систему,<br>
        чтобы просматривать эту страницу.
      </p>
    {% endif %}
  {% endif %}

  <div class="col d-flex justify-content-center">
    <div class="card border-success" style="width: 40rem; border-width: 2px;">
      <div class="card-header bg-success text-white">
        Войти в систему
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="hidden" name="next" value="{{ next }}">
          {% bootstrap_button button_type="submit" content="Войти" button_class="btn-success w-100 py-2" %}
        </form>
        <div class="text-center mt-3">
          <a href="{% url 'password_reset' %}" class="text-success">Забыли пароль?</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}