/* static/css/style.css */
body {
    background-color: #cce7ff; /* мягкий голубой оттенок */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #222; /* тёмно-серый для хорошей читаемости */
    line-height: 1.6;
}
